[submodule "developing_pods/KFAVKit"]
	path = developing_pods/KFAVKit
	url = https://github.com/dclcs/KFAVKit.git
	branch = main
[submodule "developing_pods/DebugTool"]
	path = developing_pods/DebugTool
	url = https://github.com/dclcs/DebugTool.git
	branch = main
[submodule "developing_pods/DCSegementView"]
	path = developing_pods/DCSegementView
	url = https://github.com/dclcs/DCSegementView.git
	branch = master
