[submodule "developing_pods/KFAVKit"]
	path = developing_pods/KFAVKit
	url = https://github.com/dclcs/KFAVKit.git
	branch = main
[submodule "developing_pods/DictResult"]
	path = developing_pods/DictResult
	url = https://github.com/dclcs/DictResult.git
	branch = master
[submodule "developing_pods/YDDJSONKit"]
	path = developing_pods/YDDJSONKit
	url = https://github.com/dclcs/YDDJSONKit.git
	branch = master
[submodule "developing_pods/YDSimulInterprete"]
	path = developing_pods/YDSimulInterprete
	url = https://github.com/dclcs/YDSimulInterprete.git
	branch = master
[submodule "developing_pods/YDSDUI"]
	path = developing_pods/YDSDUI
	url = https://github.com/dclcs/YDSDUI.git
	branch = main
[submodule "developing_pods/YDCollectionKit"]
	path = developing_pods/YDCollectionKit
	url = https://github.com/dclcs/YDCollectionKit.git
	branch = main
[submodule "developing_pods/ZYSDK"]
	path = developing_pods/ZYSDK
	url = https://github.com/dclcs/ZYSDK.git
	branch = master
[submodule "developing_pods/DebugTool"]
	path = developing_pods/DebugTool
	url = https://github.com/dclcs/DebugTool.git
	branch = main
